<div class="card-detail" [ngClass]="{ 'active-card-detail': selectedCardIndex === cardIndex, 'before-active-card-detail': cardIndex === selectedCardIndex - 1, 'after-active-card-detail': cardIndex === selectedCardIndex + 1 }">
  <div class="content">
    <div class="item" *ngFor="let item of card.details; index as detailIndex">
      <div class="top">
        <div class="icon">
          <div>
            <img [src]="'./assets/images/trxicons/' + item.iconImg" alt="" *ngIf="item.iconImg != ''" />
          </div>
        </div>
        <div class="details">
          <p class="txdate">{{ item.date }}</p>
          <p class="txmerchant">{{ item.title }}</p>
          <p class="txreference">{{ item.description }}</p>
        </div>
      </div>
      <div class="bottom">
        <div class="txtag">{{ item.categoryTagType }}</div>
        <div class="txamount" [ngClass]="{ credit: item.debitCredit == 'C' }">
          <span *ngIf="item.debitCredit == 'D'">-</span><span *ngIf="item.debitCredit == 'C'">+</span>{{ formatAmount(item.transactionAmount) }}&nbsp;<span class="txcurrency">{{ item.currency }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
